.btn{
    

    &:link,
    &:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem; /* Top and bottom, left and right*/
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    }

    &:hover{
        transform: translateY(-3px); /* Since Y values are from top to bottom, we use - sign to move up*/
        box-shadow: 0 1rem 2rem rgba($color-black, .3);
        /* X-asix, Y-asis, blure, color */

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .3);

        /* for when the button is clicked */
    }

    &--white{
        background-color: $color-white;
        color: $color-grey-dark;
        /* to crnter btn, set parent element(text-box) to align text to center */
        
        &::after{
            background-color: $color-white;
        }
    }

    &--green{
        background-color: $color-primary;
        color: $color-white;
        /* to crnter btn, set parent element(text-box) to align text to center */
        
        &::after{
            background-color: $color-primary;
        }
    }

    &::after{
        /* Before an after pseudo element can be done you have to create a content property and display croperty. */
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%; /* relative to the element(button)*/
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated{
        /* animation-name: moveInBottom;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: .75s; */
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; 
    }
}

.btn-text{

    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);// x, y, blur, color, opacity
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn-card{
    &:link,
    &:visited{
   
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    max-width:90%;
  display:inline-block;
  white-space:pre-wrap;
  overflow:hidden;
  text-overflow:ellipsis;
    }
}