

.composition{

    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;position: absolute;
        z-index: 10;
        transition: all .2;
        outline-offset: 2rem; //gives 20px space between the outline and the element..

        &--p1{
            left: 0;
            top: -2rem;
        }
        &--p2{
            right: 0;
            top: 2rem;
        }
        &--p3{
            left: 20%;
            top: 10rem;
        }

        &:hover{
            outline: 1.5rem solid $color-primary; //we use outline instead of border bcuz in outline u can set outline offset..
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    // hover on composition element(photo that is not hovered... thats the below condition)
    &:hover &__photo:not(:hover){// composition:hover composition__photo:not(:hover)
        transform: scale(.95); //this makes the unhovered elements to be smaller..
    }
    

}